body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
        padding-right: 16px;
}
.webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px

}

.web-color {
    color: #2e2f42;
}

.head-address {
    height: 72px;
    padding-top: 16px;
    padding-bottom: 16px;
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.shapka{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hpage {
    display: flex;
    align-items: center;
}
.head-title {
    display: none;
    margin: auto;
    gap: 40px;
}

.head-title-link {
    display: none;
    gap: 40px;
    padding-top: 24px;
        padding-bottom: 24px;
}

.butn-mob-list {
    background: none;
    border: none;
}

.nav-studio::after {
content: '';
border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    bottom: -1px;
    left: 0px;
    position: absolute;
}

.head-nav {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
            padding-bottom: 24px;
            position: relative;
            transition-property: color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio {
    color: #404bbf;
}

.head-nav:hover,
.head-nav:focus {
    color: #404bbf;
}

.head-address {
    font-style: normal;
}

.head-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head-contact:hover,
.head-contact:focus {
    color: #404bbf;
}
   /* ---------- MOB-MENU ---------*/

.mob-menu-list {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fcfcfc;
    z-index: 1;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-menu-close {
    top: 24px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-color: rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #ffffff;
        position: absolute;
        cursor: pointer;
}

.close-icon {
    fill: #2e2f42;
}

.mob-title {
    display: flex;
        margin: auto;
        flex-direction: column;
        gap: 40px;
        /* padding-top: 72px; */
}

.mob-nav {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-studio {
    color: #404bbf;
}

.mob-menu-second {
    position: relative;
    display: flex;
        flex-direction: column;
}

.mob-title-link {
    display: flex;
        flex-direction: column;
        gap: 24px;
}

.mob-contact {
    font-style: normal;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link-one {
    color: #4d5ae5;
}

.mob-icon-list {
    display: flex;
        gap: 40px;
        margin-top: 48px;
}

.mob-icon-item {
    width: 40px;
        height: 40px;
        
}

.mob-icon-link {
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon {
    fill: #f4f4fd;
}

/* ---------- MOB-MENU ---------*/

.order {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
    padding-top: 72px;
    padding-bottom: 188px;
    max-width: 320px;
    max-height: 432px;
}

@media (min-resolution: 2x) {
    .order {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-mob-2x.jpg);
    }
}

.order-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 216px;
        margin: 0 auto;
        margin-bottom: 72px;
        
}


.order-btn {
    cursor: pointer;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        min-width: 169px;
        height: 56px;
        border-radius: 4px;
        border: none;
        display: block;
        margin: auto;
        transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:focus,
.order-btn:hover {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.description {
    display: flex;
    flex-direction: column;
        justify-content: center;
    gap: 72px;
}

.description-list {
text-align: center;
}

.advg-title {
        font-weight: 700;
            font-size: 36px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
}

.advg {
    padding-top: 96px;
    padding-bottom: 96px;
}

.advg-title {
margin-bottom: 8px;
}

.advg-text {
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        text-align: left;
}

.link-contanier {
    display: none;
}



.workers {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
        justify-content: center;
    background-color: #F4F4FD
}

.workers-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.workers-list {
    gap: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workers-inform {
    border-radius: 0 0 4px 4px;
    max-width: 264px;
    max-height: 428px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.employee {
    padding-top: 32px;
    padding-bottom: 32px;
}

.workers-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.workers-position {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
        color: #434455;
}

.wokers-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.workers-icon-item {
    width: 40px;
    height: 40px;
        transition: transform 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.workers-icon-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.workers-icon-link:focus,
.workers-icon-link:hover {
background-color: #404bbf;
}

.workers-icon {
    fill: #f4f4fd;
}

.portfolio {
    padding-top: 96px;
        padding-bottom: 96px;
        display: flex;
            justify-content: center;

}

.portf-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;

}

.port-list {
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
}

.portf-inform {
    width: 100%;
        max-width: 360px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-inform:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portf-inform:hover .port-cover-text{
    transform: translateY(0);
}

.port-cover-wrap {
position: relative;
overflow: hidden;
}

.port-pic {
            display: block;
            margin: 0 auto;
}

.port-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portf-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px
}

.portf-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.webstudio-two {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
            margin-bottom: 16px;
}

.web-color-two {
    color: #f4f4fd;
    
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        display: block;
        width: 264px;
        height: 72px;
}

.footer-container {
    display: flex;
        flex-direction: column;
            align-items: center;
}

.footer-container-icon {
    margin-bottom: 72px;
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.container-web {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
    margin-right: 0;
        margin-bottom: 72px;
}

.footer-socmedia {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
        gap: 16px;
        justify-content: center;
}

.footer-icon-item {
    width: 40px;
        height: 40px;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-icon-link {
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:focus,
.footer-icon-link:hover {
    background-color: #31d0aa;
}

.footer-form-sub {
display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.footer-sub {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-form-sub .footer-form {
    display: flex;
 gap: 24px;
 
    gap: 16px;
    align-items: center;
}

.footer-form {
    flex-direction: column;
}

.footer-input {
    color: #ffffff;
    border: 1px solid #ffffff;;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background-color: transparent;
        height: 40px;
        padding-left: 16px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}

.footer-btn {
    display: flex;
        align-items: center;
        justify-content: center;
        border: none;
            border-radius: 4px;
            padding: 8px 24px;
            min-width: 165px;
            height: 40px;
            background-color: #4d5ae5;
            font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #fff;
                cursor: pointer;
                transition-property: background-color;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:focus,
.footer-btn:hover {
    background-color: #404BBF;
}

.footer-telegram {
    fill: #fff;
    margin-left: 16px;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 100%;
    width: 320px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #e7e9fc;
    position: absolute;
    cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}
.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-btn:hover .close-icon,
.modal-btn:focus .close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 16px;
}

.imput-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.label-name {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-block {
    margin-bottom: 8px;
}

.modal-comm {
    margin-bottom: 16px;
}

.modal-textarea {
    padding: 8px 16px;
    width: 100%;
        height: 120px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        outline: transparent;
        resize: none;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.checkbox-label {
    margin-bottom: 24px;
}

.modal-text-policy {
    align-items: center;
        display: flex;
        flex-wrap: wrap;
font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-check-item {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.modal-check:checked + .modal-text-policy .modal-check-item {
background-color: #404bbf;
fill: #F4F4FD;
border: none;
}

.policy-link {
    color: #4d5ae5;
}

.modal-btn-send {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:focus,
.modal-btn-send:hover {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
            padding-right: 16px;
    }

.head-title {
    display: flex;
}
.head-title-link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

}

.nav-studio::after {
    bottom: 1px;
}

.head-address {
    padding: 0;
}

.butn-mob-list {
    display: none;
}

    .order {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-tablet.jpg);
                margin-bottom: unset;
    }

        @media (min-resolution: 2x) {
            .order {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/Dark-bg-tablet-2x.jpg);
            }
        }

    .order-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .description-list {
        width: calc((100% - 24px) /2);
        text-align: left
    }

    .description
    {
    flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
        row-gap: 72px;
    }

    .advg {
        padding-top: 96px;
        padding-bottom: 96px;
    }

        .advg-title {
            text-align: left;
        }

    .workers-list {
        gap: 64px 24px;
    }

        .workers-inform {
            width: calc((100% - 72px) /2);
        }

        .port-list {
            row-gap:72px;
        }

        .portf-inform {
            width: calc((100% - 48px) /2);
        }

        .footer {
            padding-bottom: 100px;
                padding-top: 100px;
        }

        .footer-container {
            flex-direction: row;
                flex-wrap: wrap;
                align-items: baseline;
        }

        .container-web {
            flex-direction: column;
            padding-left: 108px;
        }

        .footer-container-icon {
            display: block;
            margin-left: 24px;
        }

        .footer-form-sub {
            display: block;
            padding-left: 108px;
        }

        .footer-form {
            flex-direction: row;
        }

        .modal {
            width: 408px;
        }
}

@media screen and (min-width: 1158px) {
.container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .head-title {
            display: flex;
        }
    
    .head-title-link {
            display: flex;
            padding-bottom: 24px;
            padding-top: 24px;
        }
    
.nav-studio::after {
    bottom: -3px;
}

    .head-address {
            padding: 0;
        }
    
    .butn-mob-list {
            display: none;
        }

        .order {
            max-width: 1440px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office1.jpg);
        padding-top: 188px;
        margin-bottom: unset;
        max-height: unset;
        }

                @media (min-resolution: 2x) {
                    .order {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)),
                            url(../images/people-office2x.jpg);
                    }
                }
    
        .order-title {
            font-size: 56px;
            max-width: 496px;
            margin-bottom: 45px;
        }

    .description {
        flex-direction: unset;
        align-items: unset;
        gap: 24px;
    }
    
    .container {
        max-width: 1158px;
        padding: 0 15px 0 15px;
    }

    .description-list {
        width: calc((100% - 72px) /4);
    }

    .advg-title {
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
    }

    .advg {
        padding-top: 120px;
            padding-bottom: 120px;
    }

    .advg-text {
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.011em;
            color: #434455;
    }

    .link-contanier {
        display: flex;
            align-items: center;
            justify-content: center;
            width: 264px;
            height: 112px;
            border-radius: 4px;
            border: 1px solid #8e8f99;
            margin-bottom: 8px;
            background-color: #f4f4fd;
    }

    .workers {
     padding-top: 120px;
     padding-bottom: 120px;
        }

        .workers-list {
            gap: 24px;
        }

        .workers-inform {
        width: calc((100% - 72px) /4);
        }

        .portfolio {
            padding-top: 120px;
                padding-bottom: 120px;
        }

        .port-list {
            display: flex;
                column-gap: 24px;
                flex-wrap: wrap;
                row-gap: 48px;
        }

            .portf-inform {
                width: calc((100% - 48px) /3);
            }

            .footer {
                padding-bottom: 100px;
                    padding-top: 100px;
            }

            .footer-container {
                align-items: baseline;
                flex-wrap: nowrap;
            }

            .footer-container-icon {
            display: block;
             margin-bottom: 0;
             margin-left: 0;
            }

            .container-web {
            margin-right: 120px;
            margin-bottom: 0;
            margin-left: 0;
            padding-left: unset;
            }

            .footer-form-sub {
                padding-left: 80px;
            }

            .modal {
                width: 408px;
            }
}